.servicios{

    margin-bottom: 50px;

}

.items{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;

}

.caja{

    padding: 45px 45px 45px 45px;
    transition: ease .50s;
    cursor: pointer;

}

.servicios-imagen img{

    max-width: 100%;
    width: 100px;
    height: auto;
    margin-bottom: 20px;

}

.caja h3{

    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;

}

.caja p{

    font-size: var(--p);
    color: var(--color-secundario);
    line-height: 29px;

}

.caja:hover{

    background: #fff;
    box-shadow: 18px 0px 87px 0px rgb(10,15,70 / 7%);
    border-radius: 12px;
    will-change: transform;
    transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);

}